---
layout: page
title: Events
---

<div></div>

{% assign events = site.events | sort: "startDate" %}
{% for event in events %}
  {% capture newMonth %}{{ event.startDate | date:"%B" }}{% endcapture %}

  {% if newMonth != oldMonth %}
  {% include header.html level='2' banner=true children=newMonth %}
  {% endif %}


  {% capture metadata %}
  <span>{% if event.ongoing == true %}Starting {% endif %}{{ event.startDate | date:"%b %-d" }}{% if event.endDate %}-{{ event.endDate | date:"%-d" }}{% endif %}</span>
  {% endcapture %}

  {% capture cardContent %}
  <div>
    {% include header.html level='3' children=event.title %}
    {% include metadata.html children=metadata %}
    {% if event.description %}<p>{{ event.description }}</p>{% endif %}
  </div>
  {% endcapture %}

  {% capture oldMonth %}{{ newMonth }}{% endcapture %}

  {% include card.html url=event.url children=cardContent %}
{% endfor %}
