---
layout: page
title: Events
---

<style>
</style>

<p id="breadcrumbs">
  <a href="{{ site.baseurl }}/">Home</a> &rsaquo; {{page.title}}
</p>

<h2>Events</h2>

{% assign events = site.events | sort: "date" %}
{% for event in events reversed %}
  {% capture newMonth %}{{ event.date | date:"%B" }}{% endcapture %}

  {% if newMonth != oldMonth %}
  {% include bannerHeader.html children=newMonth %}
  {% endif %}


  {% capture metadata %}
  <span>{% if event.ongoing == true %}Starting {% endif %}{{ event.date | date:"%b %-d" }}{% if event.end-date %}-{{ event.end-date | date:"%-d" }}{% endif %}</span>
  {% endcapture %}

  {% capture cardContent %}
  <div>
    <h3>{{ event.title }}</h3>
    {% include metadata.html children=metadata %}
    {% if event.description %}<p>{{ event.description }}</p>{% endif %}
  </div>
  {% endcapture %}

  {% capture oldMonth %}{{ newMonth }}{% endcapture %}

  {% include card.html url=event.url children=cardContent %}
{% endfor %}
