<style>
.Header__Banner{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 2em;
  background-color: {{site.data.colors.GREEN}};
  color: #FFF;
}
</style>

{% assign id = include.children
  | downcase
  | replace: ' ', '-'
  | replace: '"', ''
  | replace: "'", ''
  | replace: '!', ''
  | replace: '?', ''
  | replace: '.', ''
  | replace: ',', ''
  | replace: ':', ''
  | replace: ';', ''
  | replace: '\', ''
  | replace: '/', ''
  | replace: '(', ''
  | replace: ')', ''
  | replace: '@', ''
  | replace: '#', ''
  | replace: '$', ''
  | replace: '%', ''
  | replace: '^', ''
  | replace: '&', ''
  | replace: '*', ''
  | replace: '_', ''
  | replace: '=', ''
  | replace: '+', ''
  | replace: '[', ''
  | replace: ']', ''
  | replace: '{', ''
  | replace: '}', ''
  | replace: '|', ''
  | strip
%}

<h{{include.level}} id='{{id}}' {% if include.banner %}class='Header__Banner'{% endif %}>{{include.children}}</h{{include.level}}>
