---
layout: page
---

<style>
.Sermon__Image {
  display: inline;
  width: 100px;
  margin-right: -100px;
}
.Sermon__Image img {
  width: 100px;
}
.Sermon__Text {
  display: inline;
  margin-left: 120px;
  height: 100px;
}
</style>

<p id="breadcrumbs">
	<a href="{{ site.baseurl }}/">Home</a> &rsaquo; Media &rsaquo; Sermons
</p>

<h1>Sermons</h1>

<a href="https://itunes.apple.com/us/podcast/lifestone-church/id968942229"><img src="{{ site.baseurl }}/assets/images/itunes.png" style="float: left; width: 100px" /></a>

<a href="{{ site.baseurl }}/feed.rss"><img src="{{ site.baseurl }}/assets/images/rss.png" style="float: left; margin-left: 10px; width: 36px;" /></a>

<div class="cl"></div>

{% for post in site.posts %}
<div class="Sermon">
  <div class="Sermon__Image">
    <a title="{{post.title}}" href="{{post.url}}">
      {% if post.image %}
      <img src="{{site.baseurl}}/assets/uploads/podcast/{{post.image}}" />
      {% else %}
      <img src="{{site.baseurl}}/assets/images/logo2.jpg" />
      {% endif %}
    </a>
  </div>
  <p class="Sermon__Text">{{post.date | date: "%-m/%-d/%y"}}- <a title="{{post.title}}" href="{{post.url}}">{{post.title}}</a></p>
</div>
{% endfor %}
