<!-- Get array of every page url -->
{% assign pageUrls = "hello|hi" | split: "|" %}
{% for item in site.data.navigation %}
  {% capture topLevelItem %}{{ item[0] }}{% endcapture %}
  {% if item[1] %}
    {% for subItem in item[1] %}
      {% capture currentUrl %}{{ site.baseurl }}/{{ topLevelItem | slugify }}/{{ subItem | slugify }}/{% endcapture %}
      {% assign pageUrls = pageUrls | push: currentUrl %}
    {% endfor %}
  {% else %}
    {% capture currentUrl %}{{ site.baseurl }}/{{ topLevelItem | slugify }}/{% endcapture %}
    {% assign pageUrls = pageUrls | push: currentUrl %}
  {% endif %}
{% endfor %}

<div>
  <span><a href="{{site.baseurl}}/">Home</a></span>
  {% assign crumbs = page.url | split: '/' %}
  {% assign lastIndex = crumbs | size | minus: 2 %}
  {% assign index=0 %}
  {% capture currentPath %}{{site.baseurl}}/{% endcapture %}
  {% for crumb in crumbs offset:1 %}
    {% unless crumb == 'index.html' %}
    {% assign currentPath = currentPath | append: crumb | append: '/' | remove: '.html' %}
    <span><span>&rsaquo;</span>
      {% if index != lastIndex and pageUrls contains currentPath %}<a href="{{currentPath}}">{% endif %}
        {% if index == lastIndex and page.title %}
          {{page.title}}
        {% else %}
          {{ crumb | remove: '.html' | capitalize }}
        {% endif %}
        {% if pageUrls contains currentPath %}</a>{% endif %}
    </span>
    {% endunless %}
    {% assign index=index | plus:1 %}
  {% endfor %}
</div>
