<dl>
  {% include header.html level='2' banner=true children=include.title %}
  {% if site.data.events[include.category] %}
    {% for event in site.data.events[include.category] %}
      {% capture newMonth %}{% if event.date %}{{ event.date | date:"%B" }}{% else %}{{event.month}}{% endif %}{% endcapture %}
      {% if newMonth != oldMonth %}
        <dd>{{ newMonth }}</dd>
      {% endif %}
      <dt>
      <b>{% if event.date %}{{ event.date | date:"%b %-d" }}{% if event.endDate %} - {{ event.endDate | date:"%b %-d" }}{% endif %}{% else %}Date TBA{% endif %}</b> -
      {% if event.link %}<a href="{{event.link}}">{% endif %}
      <b>{{ event.name }}</b>
      {% if event.link %}</a>{% endif %}
      {% if event.location %}- {{ event.location }}{% endif %}
      {% if event.cost %}- {{ event.cost }}{% endif %}
      {% if event.description %}<div style='padding: 20px;'>{{ event.description | markdownify }}</div>{% endif %}
      </dt>
      {% capture oldMonth %}{{ newMonth }}{% endcapture %}
    {% endfor %}
  {% endif %}
</dl>
