<dl>
	{% for event in site.data.events[include.category] %}
		{% capture newMonth %}{{ event.date | date:"%B" }}{% endcapture %}
		{% if newMonth != oldMonth %}
			<dd>{{ newMonth }}</dd>
		{% endif %}
		<dt>
		<b>{{ event.date | date:"%-d" }}{% if event.end-date %}-{{ event.end-date | date:"%-d" }}{% endif %}</b>
		({{ event.date | date:"%a" }}{% if event.end-date %}-{{ event.end-date | date:"%a" }}{% endif %})- {{ event.name }}
		{% if event.location %}- {{ event.location }}{% endif %}
		{% if event.cost %}- {{ event.cost }}{% endif %}
		{% if event.description %}- {{ event.description }}{% endif %}
		</dt>
		{% capture oldMonth %}{{ newMonth }}{% endcapture %}
	{% endfor %}
</dl>
