<style>
.Footer {
  margin-top: 50px;
}
.Footer__Top .container,
.Footer__Bottom .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.Footer__Top {
  background-color: #484848;
  background: rgb(47,47,47);
  background: -moz-linear-gradient(top, rgba(47,47,47,1) 0%, rgba(54,54,54,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,47,47,1)), color-stop(100%,rgba(54,54,54,1)));
  background: -webkit-linear-gradient(top, rgba(47,47,47,1) 0%,rgba(54,54,54,1) 100%);
  background: -o-linear-gradient(top, rgba(47,47,47,1) 0%,rgba(54,54,54,1) 100%);
  background: -ms-linear-gradient(top, rgba(47,47,47,1) 0%,rgba(54,54,54,1) 100%);
  background: linear-gradient(to bottom, rgba(47,47,47,1) 0%,rgba(54,54,54,1) 100%);
}
.Footer__Top,
.Footer__Top a,
.Footer__Top p {
  color: #FFF;
}
.Footer__Top a:hover {
  text-decoration: underline;
}
.socialMediaIcon {
  margin-right: 10px;
}
.Footer__Bottom,
.Footer__Bottom p {
  color: #8e8e8e;
}
.Footer__Bottom {
  background-color: #242424;
}
.Footer__Bottom a {
  color: #8e8e8e;
  text-decoration: underline;
}
.Footer a:hover {
  text-decoration: none;
  color: #fff;
}
</style>

<div class="Footer">
  <div class="Footer__Top">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h4>Sundays 10:30 am</h4>
          <p>3443 12600 S, Riverton, UT 84065</p>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          <p><a href="https://www.facebook.com/lifestonechurchutah/" target="_blank"><img src="/assets/images/facebook.svg" height="15px" width="15px" class="socialMediaIcon"/>lifestonechurchutah</a></p>
          <p><a href="https://www.instagram.com/lifestonechurchutah/" target="_blank"><img src="/assets/images/instagram.svg" height="15px" width="15px" class="socialMediaIcon"/>@lifestonechurchutah</a></p>
          <p><a href="https://twitter.com/lifestonechurch" target="_blank"><img src="/assets/images/twitter.svg" height="15px" width="15px" class="socialMediaIcon"/>@lifestonechurch</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="Footer__Bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p>Copyright ©{{ 'now' | date: "%Y" }} <a href="http://www.mountainview-webdesign.com/">Mountainview Web Design</a>- hosted by <a href="https://github.com/Mountainview-WebDesign/lifestonechurch">Github Pages</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
