<style>
.latest-sermon {
  position: relative;
}
.latest-sermon img {
  width: 100%;
}
.latest-sermon-text {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.6);
  color: #FFF;
  padding: 10px;
}
</style>

{% assign sermons = (site.sermons | sort: 'date') | reverse %}
{% for post in sermons limit:1 %}
  <div class="latest-sermon">
    <a href="{{ site.baseurl }}{{ post.url}}">
      <img id="youtube-{{ post.youtubeId }}" src="{{ site.baseurl }}/assets/images/defaultLatestMessage.gif" alt="{{ video.title }}" />
      <div class='latest-sermon-text'>
        {% include header.html level='4' children=post.title %}
        {{ post.verse }}
      </div>
    </a>
  </div>
{% endfor %}

<script>
$(document).ready(function() {
  loadYoutubeThumbnail('{{ post.youtubeId }}');
});

function loadYoutubeThumbnail(id){
  var imageId = "#youtube-";
  if (id) {
    var url = "http://img.youtube.com/vi/" + id + "/0.jpg";
    imageId += id;
    var imageId = "#youtube-" + id;

    $(imageId).attr('src', url);

  } else {
    $(imageId).attr('src', '/assets/uploads/pages/benPreaching.jpg');
  }
}
</script>
