<section id="sidebar" class="right">
	<div id="theme-widget-top-level-page-children-2" class="widget theme-widget widget-subnav">
		<section class="container"></section>
	</div>
	</div>
	<div id="theme-widget-text-widget-2" class="widget theme-widget-text-widget">
		<section class="container">
			<div class="text-widget">
				<h4></h4>
				<div class="widget-body">
					<p></p>
				</div>
		</section>
		</div>
	</div>
	<div id="tlb_widget-2" class="widget tlb_widget">
		<section class="container">
			<h4></h4>
			<div class="widget-body">
				<style type="text/css">
					 #tlb_container {
						 box-sizing: border-box;
					 }
					 #tlb_container * {
						box-sizing: content-box;
						-moz-box-sizing: content-box;
						-webkit-box-sizing: content-box;
					}
					#tlb_container {
						border:1px solid #AAA;
						background:transparent;
						border-top-color:#315C99;
						padding:5px 5px 0 5px;
						font-family:'Lucida grande',tahoma,verdana,arial,sans-serif;

					}
					#tlb_header {
						color:#555;
						border-bottom:1px solid #D8DFEA;
						color:#555;
						height:60px;
						position:relative;
					}
					#tlb_profile_img{
						position:absolute;
						top:5px;
						left:5px;
					}
					#tlb_name{
						position:absolute;
						top:5px;
						left:59px;
						font-size:14px;
						line-height:14px;
						font-weight:bold;
					}
					#tlb_name a{
						color:#3B5998;
					}
					#tlb_name a span{
						font-weight:normal;
						font-size:10px;
					}
					#tlb_follow{
						position:absolute;
						top:30px;
						left:59px;
					}
					#tlb_follow_total{
						padding:5px 5px 0px 5px;
						font-size:11px;
					}
					.tlb_user_item{
						line-height:1;
						padding:5px 0px 3px 5px;
						width:48px;
						float:left;
						text-align: center;
					}
					.tlb_user_item a{
						color:gray;
					}
					.tlb_user_item span{
						font-family:Arial;
						font-size:10px;
					}
				</style>
				<div id="tlb_container" style="width: 100%">
					<div id="tlb_header">
						<div id="tlb_profile_img">
							<a target="_blank" href="http://twitter.com/lifestonechurch">
								<img src="http://pbs.twimg.com/profile_images/378800000520119864/3d1341a9978cd8850934ad91590b0b71_normal.png" width="44" height="44" alt="lifestonechurch">
							</a>
						</div>
						<div id="tlb_name">
							<a target="_blank" href="http://twitter.com/lifestonechurch">
								lifestonechurch<span> on Twitter</span>
							</a>
						</div>
						<div id="tlb_follow">
							<a href="https://twitter.com/lifestonechurch" class="twitter-follow-button" data-show-count="false" data-width="65px" data-show-screen-name="false">Follow @lifestonechurch</a>
						</div>
					</div>
					<div style="padding:0;">
						<div id="tlb_follow_total">
							50 people follow <strong>lifestonechurch</strong>
						</div>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/nicklbirmingham" title="nicklbirmingham" rel="nofollow">
								<img src="http://pbs.twimg.com/profile_images/566448700235333632/EnIjO0Ro_normal.jpeg" width="48" height="48" alt="nicklbirmingham">
								<span>nicklbir</span>
							</a>
						</span>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/deliahines" title="deliahines" rel="nofollow">
								<img src="http://pbs.twimg.com/profile_images/509757615556296704/vms67Jru_normal.jpeg" width="48" height="48" alt="deliahines">
								<span>deliahin</span>
							</a>
						</span>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/CPMChurchMin" title="CPMChurchMin" rel="nofollow">
								<img src="http://pbs.twimg.com/profile_images/378800000464336175/350b69f90913592e7bde49e6aaefa9ef_normal.jpeg" width="48" height="48" alt="CPMChurchMin">
								<span>CPMChurc</span>
							</a>
						</span>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/RealEWilliams" title="RealEWilliams" rel="nofollow">
								<img src="http://pbs.twimg.com/profile_images/547573876889112576/9Y4F8iF9_normal.jpeg" width="48" height="48" alt="RealEWilliams">
								<span>RealEWil</span>
							</a>
						</span>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/intentchurches" title="intentchurches" rel="nofollow">
								<img src="http://pbs.twimg.com/profile_images/519553038072037377/fdnyRt9k_normal.png" width="48" height="48" alt="intentchurches">
								<span>intentch</span>
							</a>
						</span>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/sendsaltlake" title="sendsaltlake" rel="nofollow">
								<img src="http://pbs.twimg.com/profile_images/3659783686/3f6725ff9380dce1081ad3aa25edab96_normal.jpeg" width="48" height="48" alt="sendsaltlake">
								<span>sendsalt</span>
							</a>
						</span>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/RedeemingLifeUT" title="RedeemingLifeUT" rel="nofollow">
								<img src="http://pbs.twimg.com/profile_images/503318709293703168/OMAldz9c_normal.jpeg" width="48" height="48" alt="RedeemingLifeUT">
								<span>Redeemin</span>
							</a>
						</span>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/Catherman" title="Catherman" rel="nofollow">
								<img src="http://pbs.twimg.com/profile_images/530105621245218816/LMTOxkyK_normal.jpeg" width="48" height="48" alt="Catherman">
								<span>Catherma</span>
							</a>
						</span>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/rbrophy" title="rbrophy" rel="nofollow">
								<img src="http://abs.twimg.com/sticky/default_profile_images/default_profile_0_normal.png" width="48" height="48" alt="rbrophy">
								<span>rbrophy</span>
							</a>
						</span>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/brobro881" title="brobro881" rel="nofollow">
								<img src="http://abs.twimg.com/sticky/default_profile_images/default_profile_3_normal.png" width="48" height="48" alt="brobro881">
								<span>brobro88</span>
							</a>
						</span>
						<br style="clear:both">
					</div>
				</div>
				<script>
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
					</script>
				</section>
			</div>
		</div>
		<div id="rfb_widget-2" class="widget widget_rfb_widget"><section class="container">
			<h4>Recent Facebook Posts</h4>
			<div class="widget-body">
			<!-- Recent Facebook Posts v2.0.3 - http://wordpress.org/plugins/recent-facebook-posts/ -->
			<div class="recent-facebook-posts rfbp rfbp-container rfbp-widget">
				<div class="rfbp-post">
					<div class="rfbp-text">
						</div>
						<p class="rfbp-image-wrap">
							<a class="rfbp-image-link" target="_blank" href="http://www.facebook.com/537058409681081/posts/782390175147902" rel="external nofollow">
								<img class="rfbp-image" src="//graph.facebook.com/782389495147970/picture?type=normal" style="max-width: 100%; max-height: none" alt="" />
							</a>
						</p>
						<p class="rfbp-post-link-wrap">
							<a target="_blank" class="rfbp-post-link" href="http://www.facebook.com/537058409681081/posts/782390175147902" rel="external nofolloW">
								<span class="rfbp-like-count">17 <span>likes, </span></span>
								<span class="rfbp-comment-count">0 <span>comments</span></span>
								&sdot;
								<span class="rfbp-timestamp" title="Tuesday, February 10, 2015 at 18:07">5 days ago</span>
							</a>
						</p>
					</div>
					<div class="rfbp-post">
						<div class="rfbp-text">
							<p>Correction!!! Our ladies event is from 6:30pm to 8:30pm. Sorry for any confusion.</p>
						</div>
						<p class="rfbp-image-wrap">
							<a class="rfbp-image-link" target="_blank" href="http://www.facebook.com/537058409681081/posts/781590338561219" rel="external nofollow">
								<img class="rfbp-image" src="//graph.facebook.com/781590318561221/picture?type=normal" style="max-width: 100%; max-height: none" alt="" />
							</a>
						</p>
						<p class="rfbp-post-link-wrap">
							<a target="_blank" class="rfbp-post-link" href="http://www.facebook.com/537058409681081/posts/781590338561219" rel="external nofolloW">
								<span class="rfbp-like-count">1 <span>likes, </span></span>
								<span class="rfbp-comment-count">0 <span>comments</span></span>
								&sdot;
								<span class="rfbp-timestamp" title="Monday, February 9, 2015 at 1:42">6 days ago</span>
							</a>
						</p>
					</div>
					<div class="rfbp-post">
						<div class="rfbp-text">
							<p>Worship is far more than singing to God. Worship is a lifestyle of enjoying God, loving him, and giving ourselves to be used for his purposes.</p>
						</div>
						<p class="rfbp-image-wrap">
							<a class="rfbp-image-link" target="_blank" href="http://www.facebook.com/537058409681081/posts/780922888627964" rel="external nofollow">
								<img class="rfbp-image" src="//graph.facebook.com/780922878627965/picture?type=normal" style="max-width: 100%; max-height: none" alt="" />
							</a>
						</p>
						<p class="rfbp-post-link-wrap">
							<a target="_blank" class="rfbp-post-link" href="http://www.facebook.com/537058409681081/posts/780922888627964" rel="external nofolloW">
								<span class="rfbp-like-count">1 <span>likes, </span></span>
								<span class="rfbp-comment-count">0 <span>comments</span></span>
								&sdot;
								<span class="rfbp-timestamp" title="Saturday, February 7, 2015 at 14:38">1 week ago</span>
							</a>
						</p>
					</div>
					<div class="rfbp-post">
						<div class="rfbp-text">
							<p>This Week in KIDS LIFE: Paul and his followers were concerned about the believers in each place they traveled. They loved and cared for them..</p>
						</div>
						<p class="rfbp-image-wrap">
							<a class="rfbp-image-link" target="_blank" href="http://www.facebook.com/537058409681081/posts/780693255317594" rel="external nofollow">
								<img class="rfbp-image" src="//graph.facebook.com/780693248650928/picture?type=normal" style="max-width: 100%; max-height: none" alt="" />
							</a>
						</p>
						<p class="rfbp-post-link-wrap">
							<a target="_blank" class="rfbp-post-link" href="http://www.facebook.com/537058409681081/posts/780693255317594" rel="external nofolloW">
							<span class="rfbp-like-count">0 <span>likes, </span></span>
							<span class="rfbp-comment-count">0 <span>comments</span></span>
							&sdot;
							<span class="rfbp-timestamp" title="Friday, February 6, 2015 at 23:15">1 week ago</span>
						</a>
					</p>
					</div>
					<div class="rfbp-post">
						<div class="rfbp-text">
							<p>LifeGroups have started their What On Earth Am I Here For 40-day reading challenges!! This week&#8217;s reading is reminding us that WE MATTER TO GOD!..</p>
						</div>
						<p class="rfbp-image-wrap">
							<a class="rfbp-image-link" target="_blank" href="http://www.facebook.com/537058409681081/posts/759738300746423" rel="external nofollow">
								<img class="rfbp-image" src="//graph.facebook.com/759736427413277/picture?type=normal" style="max-width: 100%; max-height: none" alt="" />
							</a>
						</p>
						<p class="rfbp-post-link-wrap">
							<a target="_blank" class="rfbp-post-link" href="http://www.facebook.com/537058409681081/posts/759738300746423" rel="external nofolloW">
								<span class="rfbp-like-count">1 <span>likes, </span></span>
								<span class="rfbp-comment-count">0 <span>comments</span></span>
								&sdot;
								<span class="rfbp-timestamp" title="Saturday, January 31, 2015 at 19:48">2 weeks ago</span>
							</a>
						</p>
					</div>
					<p class="rfbp-page-link-wrap">
						<a class="rfbp-page-link" href="http://www.facebook.com/537058409681081/" rel="external nofollow" target="_blank">Find us on Facebook</a>
					</p>
				</div>
				<!-- / Recent Facebook Posts -->
			</section>
		</div>
	</div>
</section>
