<section id="sidebar" class="right">
	<div id="tlb_widget-2" class="widget tlb_widget">
		<section class="container">
			<h4></h4>
			<div class="widget-body">
				<style type="text/css">
					 #tlb_container {
						 box-sizing: border-box;
					 }
					 #tlb_container * {
						box-sizing: content-box;
						-moz-box-sizing: content-box;
						-webkit-box-sizing: content-box;
					}
					#tlb_container {
						border:1px solid #AAA;
						background:transparent;
						border-top-color:#315C99;
						padding:5px 5px 0 5px;
						font-family:'Lucida grande',tahoma,verdana,arial,sans-serif;

					}
					#tlb_header {
						color:#555;
						border-bottom:1px solid #D8DFEA;
						color:#555;
						height:60px;
						position:relative;
					}
					#tlb_profile_img{
						position:absolute;
						top:5px;
						left:5px;
					}
					#tlb_name{
						position:absolute;
						top:5px;
						left:59px;
						font-size:14px;
						line-height:14px;
						font-weight:bold;
					}
					#tlb_name a{
						color:#3B5998;
					}
					#tlb_name a span{
						font-weight:normal;
						font-size:10px;
					}
					#tlb_follow{
						position:absolute;
						top:30px;
						left:59px;
					}
					#tlb_follow_total{
						padding:5px 5px 0px 5px;
						font-size:11px;
					}
					.tlb_user_item{
						line-height:1;
						padding:5px 0px 3px 5px;
						width:48px;
						float:left;
						text-align: center;
					}
					.tlb_user_item a{
						color:gray;
					}
					.tlb_user_item span{
						font-family:Arial;
						font-size:10px;
					}
				</style>
				<div id="tlb_container" style="width: 100%">
					<div id="tlb_header">
						<div id="tlb_profile_img">
							<a target="_blank" href="http://twitter.com/lifestonechurch">
								<img src="http://pbs.twimg.com/profile_images/378800000520119864/3d1341a9978cd8850934ad91590b0b71_normal.png" width="44" height="44" alt="lifestonechurch">
							</a>
						</div>
						<div id="tlb_name">
							<a target="_blank" href="http://twitter.com/lifestonechurch">
								lifestonechurch<span> on Twitter</span>
							</a>
						</div>
						<div id="tlb_follow">
							<a href="https://twitter.com/lifestonechurch" class="twitter-follow-button" data-show-count="false" data-width="65px" data-show-screen-name="false">Follow @lifestonechurch</a>
						</div>
					</div>
					<div style="padding:0;">
						<div id="tlb_follow_total">
							50 people follow <strong>lifestonechurch</strong>
						</div>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/nicklbirmingham" title="nicklbirmingham" rel="nofollow">
								<img src="http://pbs.twimg.com/profile_images/566448700235333632/EnIjO0Ro_normal.jpeg" width="48" height="48" alt="nicklbirmingham">
								<span>nicklbir</span>
							</a>
						</span>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/deliahines" title="deliahines" rel="nofollow">
								<img src="http://pbs.twimg.com/profile_images/509757615556296704/vms67Jru_normal.jpeg" width="48" height="48" alt="deliahines">
								<span>deliahin</span>
							</a>
						</span>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/CPMChurchMin" title="CPMChurchMin" rel="nofollow">
								<img src="http://pbs.twimg.com/profile_images/378800000464336175/350b69f90913592e7bde49e6aaefa9ef_normal.jpeg" width="48" height="48" alt="CPMChurchMin">
								<span>CPMChurc</span>
							</a>
						</span>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/RealEWilliams" title="RealEWilliams" rel="nofollow">
								<img src="http://pbs.twimg.com/profile_images/547573876889112576/9Y4F8iF9_normal.jpeg" width="48" height="48" alt="RealEWilliams">
								<span>RealEWil</span>
							</a>
						</span>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/intentchurches" title="intentchurches" rel="nofollow">
								<img src="http://pbs.twimg.com/profile_images/519553038072037377/fdnyRt9k_normal.png" width="48" height="48" alt="intentchurches">
								<span>intentch</span>
							</a>
						</span>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/sendsaltlake" title="sendsaltlake" rel="nofollow">
								<img src="http://pbs.twimg.com/profile_images/3659783686/3f6725ff9380dce1081ad3aa25edab96_normal.jpeg" width="48" height="48" alt="sendsaltlake">
								<span>sendsalt</span>
							</a>
						</span>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/RedeemingLifeUT" title="RedeemingLifeUT" rel="nofollow">
								<img src="http://pbs.twimg.com/profile_images/503318709293703168/OMAldz9c_normal.jpeg" width="48" height="48" alt="RedeemingLifeUT">
								<span>Redeemin</span>
							</a>
						</span>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/Catherman" title="Catherman" rel="nofollow">
								<img src="http://pbs.twimg.com/profile_images/530105621245218816/LMTOxkyK_normal.jpeg" width="48" height="48" alt="Catherman">
								<span>Catherma</span>
							</a>
						</span>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/rbrophy" title="rbrophy" rel="nofollow">
								<img src="http://abs.twimg.com/sticky/default_profile_images/default_profile_0_normal.png" width="48" height="48" alt="rbrophy">
								<span>rbrophy</span>
							</a>
						</span>
						<span class="tlb_user_item">
							<a target="_blank" href="http://twitter.com/brobro881" title="brobro881" rel="nofollow">
								<img src="http://abs.twimg.com/sticky/default_profile_images/default_profile_3_normal.png" width="48" height="48" alt="brobro881">
								<span>brobro88</span>
							</a>
						</span>
						<br style="clear:both">
					</div>
				</div>
				<script>
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
					</script>
				</section>
			</div>
		</div>
		<div >
			{% include facebookWidget.html %}
		</div>
	</div>
</section>
