<section id="slider">
	<section class="image-slider">
		<ul class="slides">
			<li class="bottom hidden">
                <a href="{{ site.baseurl }}/kids/birth-grade-5/">
				    <img width="1400" height="500" src="{{ site.baseurl }}/assets/uploads/sliders/kidsSlider.jpg" class="attachment-slide-image wp-post-image" alt="" title="Kid's Life Series" />
                </a>
			</li>
			<li class="bottom hidden">
				<a href="{{ site.baseurl }}/videos/sermons/">
					<img width="1400" height="500" src="{{ site.baseurl }}/assets/uploads/sliders/sermon_slider.jpg" class="attachment-slide-image wp-post-image" alt="" title="Sermon" />
				</a>
			</li>
		</ul>
	</section>
</section>
