<section id="slider">
	<section class="image-slider">
		<ul class="slides">
			<li class="bottom hidden">
				<a href="{{ site.baseurl }}/videos/sermons/">
					<img width="1400" height="400" src="{{ site.baseurl }}/assets/uploads/sliders/sermon_slider.jpg" class="attachment-slide-image wp-post-image" alt="" title="Sermons" />
				</a>
			</li>
			<li class="bottom light">
				<img width="1400" height="400" src="{{ site.baseurl }}/assets/uploads/sliders/RecCenterSlider.jpg" class="attachment-slide-image wp-post-image" alt="RecCenterSlide" title="Herriman Rec Center" />
				<div class="caption">
					<div class="overlay">
						<h2>Herriman Rec Center</h2>
						<p>Every Sunday @ 10:30am</p>
					</div>
				</div>
			</li>
			<li class="bottom light">
				<img width="1400" height="400" src="{{ site.baseurl }}/assets/uploads/sliders/KidsWillLoveIt.jpg" class="attachment-slide-image wp-post-image" alt="" title="Kid&#8217;s Life" />
				<div class="caption">
					<div class="overlay">
						<h2>Kid&#8217;s Life
						</h2>
						<p>K-5th Grade</p>
					</div>
				</div>
			</li>
		</ul>
	</section>
</section>
