<div class="carousel slide" data-ride="carousel" id="slider">
	<div class="carousel-inner">
		{% for slider in site.data.sliders.sliders %}
			{% if forloop.index == 1 %}
				<div class="item active">
			{% else %}
				<div class="item">
			{% endif %}
				<a href="{{ site.baseurl }}/{{ slider.link}}">
					<img src="{{ site.baseurl }}/assets/uploads/sliders/{{ slider.filename }}"  alt="" />
				</a>
			</div>
		{% endfor %}
	</div>
	<a href="#slider" class="left carousel-control" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a href="#slider" class="right carousel-control" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>
