<!doctype html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lifestone Church</title>
  <meta charset="UTF-8">
  <meta name="theme-color" content="{{site.data.colors.GREEN}}"> <meta name="mobile-web-app-capable" content="yes"> <link rel="icon" sizes="192x192" href="assets/images/icon.png">

  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.png" />

  <link rel="stylesheet" href="{{ site.baseurl }}/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" type="text/css" media="all">

  <script type='text/javascript' src='{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js'></script>
  <script type='text/javascript' src='{{ site.baseurl }}/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
</head>
<body>
  {% include facebookSDK.html %}
  <header>
    {% include menu.html %}
  </header>

  <div>
    {{content}}
  </div>

  {% include footer.html %}

  <script src="{{ site.baseurl }}/assets/js/audiojs/audio.min.js"></script>
  <script>
    audiojs.events.ready(function() {
      var as = audiojs.createAll();
    });
  </script>

  <script src="{{ site.baseurl }}/assets/js/featureSwitch.js"></script>
  <script src="{{ site.baseurl }}/assets/js/googleAnalytics.js"></script>
</body>
</html>
