---
title: "Baptism"
startDate: 2017-10-08
description: ""
---

<style>
.Event__Image {
  max-width: 100%;
}

@media (min-width: 767px) {
  .Event__Image {
    max-width: 50%;
  }
}
</style>

<div class="Event__Image">
{% include image.html url="/assets/uploads/events/baptism.jpg" %}
</div>

<p>If you or your child has put your trust in Jesus alone, and you are ready for the next step of following Jesus' example and command for Biblical baptism on April 23rd, or if you have questions, let us know below.</p>

{% include button.html label="Ask a Question About Baptism" link="mailto:lifestone@lifestonechurch.net?subject=Tell%20me%20more%20about%20Feb%2026%20baptism!" %}
