---
title: "Lifestone Ladies Ice Cream Party"
startDate: 2017-08-25
description: ""
---

{% include image.html url="/assets/uploads/events/ice-cream.jpg" %}

<p>Ladies BRING A FRIEND EVENTS are the perfect opportunity to connect the ladies in your life to the ladies @ Lifestone! Join us for a...</p>

<p><b>SO-LONG-SUMMER ICE CREAM BAR</b></p>

<p>Friday, August 25th<br/>
6:30pm @ Lifestone Church</p>

<p>We can't wait to get to know the friends you invite, and we'll also spend the evening writing encouraging notes to the residents next door @ Rocky Mountain Care.</p>

{% include button.html label="Let us know you'll be there" link="mailto:lindsey@lifestonechurch.net?subject=Ladies%20Ice%20Cream%20Event" %}
