---
title: "Kids Life Camp"
startDate: 2018-07-09
endDate: 2018-07-13
description: ""
---

<style>
.Event__Time {
  margin-top: 50px;
}
.Event__Image {
  max-width: 100%;
}
</style>

<img class="Event__Image" src="/assets/uploads/events/kids-life-camp.jpg" />

<a href="https://docs.google.com/spreadsheets/d/1iNPFI4gEhJ-QKFel9IXOZgPz16Cd0kwXzQn8FPFs2V8/edit?usp=sharing" target="_blank" rel="noopener">Lifestoners! View list of supplies needed.</a>

<p>AHOY 1ST - 5TH GRADERS!</p>

<p>Have a blast and be encouraged on this Shipwrecked Bible adventure! Enjoy interactive Bible Discovery, outdoor "Ship Rec" games, Tropical Treats, Imagination Station, Castaway Sing & Play, and more!</p>

<p>Grades 1-5 (completed 2017-18 school year)</p>

{% include vimeoPlayer.html id=264509280 %}

{% include eventForm.html link="https://lifestonechurch.breezechms.com/form/4f84e54" height="2000" %}
