---
title: Men's Bake Auction
startDate: 2017-03-19
description: Help send our teenagers to Youth Camp this summer!
---

{% include image.html url="/assets/uploads/events/mens-bake-auction.jpg" %}

<p>Help send our teenagers to Youth Camp this summer! Men, bust out those aprons and bring your tastiest baked good to church at 10am on Sunday March 19th. We'll hold a silent auction and all proceeds will be divided equally among Youth Camp participants.</p>

{% include button.html label="Sign up to bake" link="mailto:ohmyyum@yahoo.com?subject=Men's%20Bake%20Auction" %}
