---
title: "Party with the Pastors"
startDate: 2017-07-15
description: "You're invited to Party with the Pastors Lunch!"
---

{% include image.html url="/assets/uploads/events/party-with-the-pastors.jpg" %}

<p>You're invited to Party with the Pastors Lunch Sunday, July 30th. Enjoy free lunch, learn more about Lifestone, meet the pastors, and ask any questions you may have. Lunch will follow the service. Free childcare provided!</p>

{% include button.html link="mailto:keely@lifestonechurch.net" label="RSVP" %}
