---
title: Sonfest 2017
startDate: 2017-08-04
description: "Students will gather with teens from across Utah and Idaho as we learn to conform to the image of Christ!"
---

<p>We can’t wait for this awesome Youth retreat where students will gather with teens from across Utah and Idaho as we learn to conform to the image of Christ! Invite a friend!</p>

<p>Registration deadline: Wed, June 7</p>

<p>Full payment due: Wed, August 2</p>

<p>Registration cost: $115 per student</p>

<p>Cost includes:</p>

<ul>
  <li>Sonfest t-shirt</li>
  <li>3 worship music/speaker sessions — The Waiting Kind (band) & ‘Big Al’ Tennyson (speaker)</li>
  <li>2 nights’ lodging (including breakfast)</li>
  <li>Lagoon/Lagoon-A-Beach pass</li>
</ul>

{% include header.html level='2' children='Register' %}

<p>To register, print and submit the following form to Keely Williams along with $35 deposit.</p>

{% include button.html label="Print waiver" link="http://www.uisbc.org/Websites/uisbc/files/Content/1249136/Med_Rls_Activity_Waiver_MASTER_2017.pdf" newTab="true" %}
