---
title: "Women's Bible Study"
startDate: 2017-10-02
description: ""
---

{% include image.html url="/assets/uploads/events/armor.jpg" %}

<p>Join other women for an in-depth, 7-week Bible Study in which we will learn to wear the full Armor of God! All day, every day, an invisible war rages around you — unseen, unheard, yet felt throughout every aspect of your life: your heart, your mind, your marriage, your children, your relationships, your resilience, your dreams, your destiny.  If you're tired of being pushed around and caught with your guard down, this study is for you. The Armor of God is an action plan for putting it on and developing a personalized strategy to secure victory!</p>

<p>MONDAY EVENINGS at 6:30pm Starting October 2nd</p>

{% include button.html label="Sign up for Monday Evenings" link="https://lifestonechurch.breezechms.com/form/86154a34" %}

<p>TUESDAY MORNINGS at 9am Starting October 3rd</p>

{% include button.html label="Sign up for Tuesday Mornings" link="https://lifestonechurch.breezechms.com/form/86154a" %}
