---
title: Ladies Dinner @ Cubby's
startDate: 2017-02-24
description: Lifestone Ladies nights are great opportunities for you to connect the women in your life with the women at Lifestone.
---

{% include image.html url="/assets/uploads/events/womens-dinner.jpg" %}

<h2>Who will YOU invite?</h2>

<p>Lifestone Ladies nights are great opportunities for you to connect the women in your life with the women at Lifestone. Invite a friend and meet us out for dinner with the girls!</p>

<p>See you Friday, February 24th 6:30pm @ Cubby's</p>

<p>11501 S4000 W South Jordan 84095 (near Sprouts)</p>

{% include button.html label="Let us know you'll be there" link="mailto:lindsey@lifestonechurch.net?subject=Ladies%20Night%20%40%20Cubby's!" %}
