---
title: "Women's Study"
startDate: 2018-04-09
description: ""
---

<style>
.Event__Time {
  margin-top: 50px;
}
.Event__Image {
  max-width: 100%;
}

@media (min-width: 767px) {
  .Event__Image {
    max-width: 50%;
  }
}
</style>

<img class="Event__Image" src="/assets/uploads/events/womens-study.jpg" />

<p>Through 7 sessions, discover the root to clear and daily communication with God - humble obedience. Learn how surrender unlocks His many blessings intended for us, centers us in His will, and helps us discern His voice in everyday life. You'll also enjoy the opportunity to connect with other ladies as we journey together learning to discern the voice of God. Monday evening and Tuesday morning groups are both available - choose the time slot that fits your schedule best!</p>

<p>Childcare provided.</p>

<p>
Mondays April 9 - May 21<br />
6:30-8:30pm @ Lifestone
</p>
{% include button.html link="https://lifestonechurch.breezechms.com/form/womens-bible-study" newTab="true" label="SIGN UP FOR MONDAY EVENINGS" %}

<p>
Tuesdays April 10 - May 22<br />
9:30-11:30am @ Lifestone
</p>
{% include button.html link="https://lifestonechurch.breezechms.com/form/womens-bible-study9" newTab="true" label="SIGN UP FOR TUESDAY MORNINGS" %}
