---
title: Youth Camp
startDate: 2017-06-18
ongoing: true
description: Students! Don't miss out on the most exciting event of the year!
---

{% include image.html url="/assets/uploads/events/youthcamp.jpg" %}

{% include header.html level='1' children='WE CAN\'T WAIT FOR CAMP!' %}

<p>This summer we are headed back to Big Canyon Ranch in Wanship, Utah (near Park City) for camp! This is always one of the most exciting events for students! Our days at camp will be packed full of dynamic worship experiences-including one on a mountaintop- devotional teen Bible studies & group discussions, field games, beach volleyball, challenge courses, a giant swing, rock climbing, s'mores around campfires and a TON of fun!!!</p>

<p>We love this opportunity for students to step out of their everyday life and routine in order to spend time connecting with God and with their peers from several participating churches. Our prayer is that many students attending will begin to trust in Jesus as Savior for the first time as they hear the Good News that God loves them and that others will grow in their existing relationship with our Lord.</p>

<p><b>Start inviting your friends & sign up now!</b></p>

{% include header.html level='2' banner=true children='High School Camp' %}

<p><b>Grades 9-12</b> (16-17 school year)</p>

<p><b>Sunday, June 18 - Thursday, June 22</b></p>

<p><b>Participant Cost Information</b>
<br />$50 non-refundable deposit reserves your spot and locks in your rate.</p>

<p>EARLY BIRD RATE $239
<br />Sign up by February 1st
<br />$38 per month February -June*</p>

<p>REGULAR RATE $259
<br />Sign up by April 1st
<br />$70 per month April - June*</p>

<p>LATE RATE $279
<br />Sign up by June 1st
<br />$279 due June 1st</p>

<p>Cost covers: meals and lodging for 5 days and 4 nights, camp activities, transportation, camp shirt</p>

<p><b>*If you choose to give monthly, we will keep a record of your student's account and send monthly reminders.</b></p>

<p>INFO ON HOW TO SIGN UP BELOW</p>

{% include header.html level='2' banner=true children='Junior High Camp' %}

<p><b>Grades 6-8</b> (16-17 school year)</p>

<p><b>Thursday, June 22 - Sunday, June 25</b></p>

<p>Cost covers: meals and lodging for 4 days and 3 nights, camp activities, transportation, camp shirt</p>

<p><b>Participant Cost Information</b>
<br />$50 non-refundable deposit reserves your spot and locks in your rate.</p>

<p>EARLY BIRD RATE $189
<br />Sign up by February 1st
<br />$28 per month February -June*</p>

<p>REGULAR RATE $209
<br />Sign up by April 1st
<br />$53 per month April - June*</p>

<p>LATE RATE $229
<br />Sign up by June 1st
<br />$229 due June 1st</p>

<p>*If you choose to give monthly, we will keep a record of your student's account and send monthly reminders.</p>

<p>INFO ON HOW TO SIGN UP BELOW</p>

{% include header.html level='2' banner=true children='How To Sign Up' %}

<ol>
  <li>Print parent release form below. Hard copies will also be available at Youth Group on Wednesday nights.</li>
  <li>Submit your deposit (cash/check made payable to Lifestone) AND parent release form to Keely Williams in order to reserve your student's spot.</li>
</ol>

<p>Final payment due June 1st.</p>

{% include button.html label="Print Release Form" link="https://nebula.wsimg.com/4f73cd94ebbb70144f3ae73406a6da09?AccessKeyId=C78CE8E90BEA771F5AE2&disposition=0&alloworigin=1" newTab="true" %}

{% include button.html label="Ask a Question About Camp" link="mailto:keely@lifestonechurch.net?subject=Youth%20Camp%202017" %}
