h1,h2,h3,h4,h5,h6,blockquote,p,input,ul,ol,.date-circle {
	font-family: 'Droid Serif';
}

footer .top { background-color: #484848; }
footer .bottom { background-color: #242424; }

a,
#countdown h2,
#sidebar .widget a,
#content h2,
#sidebar .theme-widget-upcoming-events li .text strong,
#content .gallery .image figcaption,
#content .event-info-left,
header nav > ul > li.has-dd:hover a,
#slider { color: #008f01; }

header nav .dropdown li {
	background-color: #FFFFFF;
}

.button,
#bottom,
header nav .dropdown li:hover,
#content .gallery .image a,
#content .upcoming-event-posts .date-circle,
#pagination li a,
#content .post-content a.more:hover,
header #mobile-nav .mobile-nav-toggle,
header #mobile-nav > ul,
#respond input#submit { background-color: #008f01; }

#logo a { width:400px; }

#logo a, header .shell { height:90px; }
