/*
font-family: 'Lato', sans-serif;
font-family: 'Droid Serif', serif;
 */
h1,h2,h3,h4,h5,h6,dd {
	font-family: 'Droid Sans', sans-serif;
}
blockquote {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #008f01;
    background-color: #DDD;
    padding: 20px 0;
    margin: 20px 0;
    
}
blockquote footer {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #FFF;
    background-color: #008f01;
    margin: 20px 0 -20px;
    padding: 10px 0;
}
footer .top { background-color: #484848; }
footer .bottom { background-color: #242424; }

a,
#countdown h2,
#sidebar .widget a,
#content h2,
#sidebar .theme-widget-upcoming-events li .text strong,
#content .gallery .image figcaption,
#content .event-info-left,
header nav .dropdown a,
#slider {
	color: #008f01;
}

header nav .dropdown li {
	background-color: #FFFFFF;
}
header nav .dropdown li:hover a {
	background-color: #008f01;
	color: #FFFFFF;
}

.button,
#bottom,
#content .gallery .image a,
#content .upcoming-event-posts .date-circle,
#pagination li a,
#content .post-content a.more:hover,
header #mobile-nav .mobile-nav-toggle,
header #mobile-nav > ul,
#respond input#submit {
	background-color: #008f01;
}

#logo a {
	width: 500px;
}

#logo a, header .shell { height:90px; }

#slider {
	height: 500px;
}
