/*
font-family: 'Lato', sans-serif;
font-family: 'Droid Serif', serif;
 */

.cl {
    clear: left;
}

body {
    padding-top: 70px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

p {
    line-height: 1.5em;
}

h1,h2,h3,h4,h5,h6,dd {
    font-family: 'Droid Serif', serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    margin-left: -35px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 2em;
    background-color: #008F01;
    color: #FFF;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
    margin-top: 1em;
}

section {
    margin-bottom: 2.5em;
    padding-bottom: 1em;
    border-bottom: 5px solid #008F01;
}

a,
a:hover {
    color: #008F01;
}

img.left {
    float: left;
    margin-right: 2em;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.rounded {
    border-radius: 50%;
    shape-outside: circle();
}

img.small {
    max-width: 200px;
}

/* Navigation */

.navbar {
    border-radius: 0;
}
.navbar-brand {
    padding: 0;
    padding-top: 4px;
}
.navbar-brand img {
    height: 45px;
}
.dropdown-menu {
    border: none;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background-color: #008F01;
    color: #FFF;
}
.navbar-default .navbar-nav > li > a {
    color: #008F01;
}
.navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #008F01;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
@media (max-width: 767px) {
    .navbar-nav {
	background-color: #008F01;
    }
    .navbar-default .navbar-nav > li > a,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #FFF;
    }
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	color: rgba(255,255,255,0.6);
	text-decoration: underline;
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:focus,
    .navbar-default .navbar-nav > .open > a:hover {
	background-color: #FFF;
	color: #008F01;
	text-decoration: none;
    }
}

/* Carousel (Slider) */
.carousel {
    margin-top: -20px;
}
.carousel img {
    width: 100%;
}

/* Content */

.content img {
    width: 100%;
    margin-bottom: 20px;
}
.content img.image-third {
    display: inline;
    margin-right: 1%;
    width: 30%
}
@media (max-width: 501px) {
    .content img.image-third {
	margin-top: 10px;
	width: 100%
    }
}

/* Sidebar */
.sidebar {
    margin-top: 45px;
}

/* Footer */
footer {
    margin-top: 50px;
}
.footer-top .container,
.footer-bottom .container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-top {
    color: #FFF;
    background-color: #484848;
    background: rgb(47,47,47);
    background: -moz-linear-gradient(top, rgba(47,47,47,1) 0%, rgba(54,54,54,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,47,47,1)), color-stop(100%,rgba(54,54,54,1)));
    background: -webkit-linear-gradient(top, rgba(47,47,47,1) 0%,rgba(54,54,54,1) 100%);
    background: -o-linear-gradient(top, rgba(47,47,47,1) 0%,rgba(54,54,54,1) 100%);
    background: -ms-linear-gradient(top, rgba(47,47,47,1) 0%,rgba(54,54,54,1) 100%);
    background: linear-gradient(to bottom, rgba(47,47,47,1) 0%,rgba(54,54,54,1) 100%);
}
.footer-bottom {
    background-color: #242424;
    color: #8e8e8e;
}
.footer-bottom a {
    color: #8e8e8e;
    text-decoration: underline;
}
footer a:hover {
    text-decoration: none;
    color: #fff;
}

/* Other */

/* Audio Player */
.audiojs .play-pause {
    width: 38px;
}

/* Sermon Notes Answers */
.sermon-answer {
    font-style: normal;
    text-decoration: underline;
}

.sermonAnswersToggleButton {
    margin-bottom: 20px;
    padding: .5em 1em;
    border: 0 rgba(0,0,0,0);
    color: white;
    background-color: #0078e7;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
}

/* Google Map */
.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* Homepage */

/* Homepage- Latest Sermon/Message */
.latest-sermon {
    position: relative;
}
.latest-sermon img {
    width: 100%;
}
.latest-sermon-text {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.6);
    color: #FFF;
    padding: 10px;
}

.js-video {
    height: 0;
    padding-top: 25px;
    padding-bottom: 67.5%;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.js-video.widescreen {
    padding-bottom: 56.34%;
}

.js-video.vimeo {
    padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

#gallery {
    margin-bottom: 30px;
}
