---
layout: none
---

/*
font-family: 'Lato', sans-serif;
font-family: 'Droid Serif', serif;
 */

body {
  padding-top: 70px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #333;
}

p {
  padding: 0 0 1em 0;
  font-size: 16px;
  line-height: 1.5em;
  text-align: justify;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: .03em;
}

input {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1,h2,h3,h4,h5,h6,dd {
  font-family: 'Droid Serif', serif;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }

a,
a:hover {
  color: {{site.data.colors.GREEN}};
}
