---
layout: page
title: Christmas Series- The Gift of Hope
date: 2014-12-07
categories:
- Podcast
status: publish
published: true
link: http://www.mountainview-webdesign.com/lifestonechurch/2014-12-07-TheGiftOfHope.mp3
keywords:
podcastLength: 00:42:00
image:
speaker: Pastor Ben Helton
description: Christmas Series
---

<p id="breadcrumbs">
	<a href="{{ site.baseurl }}/">Home</a> &rsaquo; Videos &rsaquo; Sermons &rsaquo; Christmas Series- The Gift of Hope
</p>
<h1>Christmas Series- The Gift of Hope</h1>

{% include vimeoPlayer.html id="114403257" %}

<br/>
<br/>

{% include audioPlayer.html path=page.link %}
