---
layout: page
title: Christmas Series- The Gift of Hope
date: 2014-12-07
categories:
- Podcast
published: true
link: http://www.mountainview-webdesign.com/lifestonechurch/2014-12-07-TheGiftOfHope.mp3
keywords:
podcastLength: 00:42:00
image:
speaker: Pastor Ben Helton
description: Christmas Series
vimeoId: 114403257
---

<p id="breadcrumbs">
	<a href="{{ site.baseurl }}/">Home</a> &rsaquo; Videos &rsaquo; <a href="{{ site.baseurl }}/videos/sermons/">Sermons</a> &rsaquo; {{page.title}}

</p>
<h1>{{page.title}}</h1>

{% include vimeoPlayer.html id=page.vimeoId %}

<br/>
<br/>

{% include audioPlayer.html path=page.link %}
