---
layout: page
title: What on Earth Am I Here For? Kick Off
date: 2015-01-18
categories:
- Podcast
status: publish
published: true
link: http://www.mountainview-webdesign.com/lifestonechurch/2015-01-18-WhatOnEarthAmIHereFor-KickOff.mp3
keywords:
podcastLength: 00:51:00
image:
speaker: Pastor Ben Helton
description: What On Earth Am I Here For? Series
---

<p id="breadcrumbs">
	<a href="{{ site.baseurl }}/">Home</a> &rsaquo; Videos &rsaquo; Sermons &rsaquo; What on Earth Am I Here For? Kick Off
</p>
<h1>What on Earth Am I Here For? Kick Off</h1>

{% include vimeoPlayer.html id="117754269" %}

<br/>
<br/>

{% include audioPlayer.html path=page.link %}
