---
layout: page
title: What On Earth Am I Here For- Live Your Calling
date: 2015-01-25
categories:
- Podcast
published: true
link: http://www.mountainview-webdesign.com/lifestonechurch/2015-01-18-WhatOnEarthAmIHereFor-LiveYourCalling.mp3
keywords:
podcastLength: 00:41:00
image:
speaker: Pastor Ben Helton
description: What On Earth Am I Here For? Series
vimeoId: 117754269
---

<p id="breadcrumbs">
	<a href="{{ site.baseurl }}/">Home</a> &rsaquo; Videos &rsaquo; <a href="{{ site.baseurl }}/videos/sermons/">Sermons</a> &rsaquo; {{page.title}}

</p>
<h1>{{page.title}}</h1>

{% include vimeoPlayer.html id=page.vimeoId %}

<br/>
<br/>

{% include audioPlayer.html path=page.link %}
