---
layout: page
title: What On Earth Am I Here For?- Week 5- Called to Bless
date: 2015-02-22
categories:
- Podcast
published: true
link: http://www.mountainview-webdesign.com/lifestonechurch/2015-02-22-WhatOnEarthAmIHereFor-CalledToBless.mp3
keywords:
podcastLength: 00:47:40
image:
speaker: Pastor Ben Helton
description: What On Earth Am I Here For? Series
---

<p id="breadcrumbs">
	<a href="{{ site.baseurl }}/">Home</a> &rsaquo; Videos &rsaquo; Sermons &rsaquo; What On Earth Am I Here For?- Week 5- Called to Bless

</p>
<h1>What On Earth Am I Here For?- Week 5- Called to Bless</h1>

{% include vimeoPlayer.html id="120312170" %}

<br/>
<br/>

{% include audioPlayer.html path=page.link %}

