---
layout: page
title: What On Earth Am I Here For?- Week 6- Called to Be Sent
date: 2015-03-01
categories:
- Podcast
published: true
link: http://www.mountainview-webdesign.com/lifestonechurch/2015-03-01.mp3
keywords:
podcastLength: 00:53:43
image:
speaker: Pastor Ben Helton
description: What On Earth Am I Here For? Series
vimeoId: 120975567
---

<p id="breadcrumbs">
	<a href="{{ site.baseurl }}/">Home</a> &rsaquo; Videos &rsaquo; Sermons &rsaquo; {{page.title}}

</p>
<h1>{{page.title}}</h1>

{% include vimeoPlayer.html id=page.vimeoId %}

<br/>
<br/>

{% include audioPlayer.html path=page.link %}

