---
layout: page
title: What On Earth Am I Here For?- Week 2- Called To Be Loved
date: 2015-02-02
categories:
- Podcast
status: publish
published: true
link: http://www.mountainview-webdesign.com/lifestonechurch/2015-02-01-WhatOnEarthAmIHereFor-CalledToBeLoved.mp3
keywords:
length: 00:41:00
image:
speaker: Pastor Ben Helton
description: What On Earth Am I Here For? Series
---

<p id="breadcrumbs">
	<a href="{{ site.baseurl }}/">Home</a> &rsaquo; Videos &rsaquo; Sermons &rsaquo; What On Earth Am I Here For?- Week 2- Called To Be Loved
</p>
<h1>What On Earth Am I Here For?- Week 2- Called To Be Loved</h1>

{% include vimeoPlayer.html id="118499610" %}

<br/>
<br/>

{% include audioPlayer.html path=page.link %}
