---
layout: page
title: What On Earth Am I Here For?- Week 4- Called to Become
date: 2015-02-15
categories:
- Podcast
published: true
link: http://www.mountainview-webdesign.com/lifestonechurch/2015-02-15-WhatOnEarthAmIHereFor-CalledToBecome.mp3
keywords:
podcastLength: 00:53:00
image:
speaker: Pastor Ben Helton
description: What On Earth Am I Here For? Series
---

<p id="breadcrumbs">
	<a href="{{ site.baseurl }}/">Home</a> &rsaquo; Videos &rsaquo; Sermons &rsaquo; What On Earth Am I Here For?- Week 4- Called to Become

</p>
<h1>What On Earth Am I Here For?- Week 4- Called to Become</h1>

{% include vimeoPlayer.html id="119714638" %}

<br/>
<br/>

{% include audioPlayer.html path=page.link %}
