---
layout: page
title: What On Earth Am I Here For- Live Your Calling
date: 2015-01-26 03:28:23.000000000 -07:00
categories:
- Podcast
status: publish
published: true
mp3: http://www.adamwadeharris.com/lifestonechurch/2015-01-18-WhatOnEarthAmIHereFor-LiveYourCalling.mp3
description: What On Earth Am I Here For? Series
---

<p id="breadcrumbs">
	<a href="{{ site.baseurl }}/">Home</a> &rsaquo; Videos &rsaquo; Sermons &rsaquo; What On Earth Am I Here For- Live Your Calling
</p>
<h1>What On Earth Am I Here For- Live Your Calling</h1>

{% include vimeoPlayer.html id="117754269" %}

<br/>
<br/>

{% include audioPlayer.html path=page.mp3 %}
