.Card {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(0,0,0,0.03);
  color: rgba(0,0,0,0.6);
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.3);
}
