/*
font-family: 'Lato', sans-serif;
 */

* {
  box-sizing: border-box;
}

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: rgba(0,0,0,0.7);
}

h1, h2, h3, h4, h5, h6, dd {
  color: rgba(0,0,0,0.6);
  font-weight: normal;
}
h1 { font-size: 2.5rem; margin-bottom: 20px; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }

ul, p {
  font-size: 16px;
  line-height: 1.5rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
}

li {
  margin-bottom: 10px;
}

input {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

a,
a:hover {
  color: #008F01;
  text-decoration: none;
}

img {
  max-width: 100%;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}
