---
layout: page
---

<style>
.Sermon {
  display: flex;
  justify-content: space-between;
  background-color: #F4F4F4;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  max-width: 700px;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.3);
}
.Sermon:hover {
  text-decoration: none;
}
.Sermon__Image {
}
.Sermon__Image img {
  width: 100px;
}
.Sermon__Text {
  flex-grow: 1;
  margin-left: 20px;
}
.Sermon__Text p {
  margin: 0;
  padding: 0;
}
.Sermon__Title {
  font-size: 1.5em;
  color: {{site.data.colors.GREEN}};
}
</style>

<p id="breadcrumbs">
  <a href="{{ site.baseurl }}/">Home</a> &rsaquo; Resources &rsaquo; Sermons
</p>

<h1>Sermons</h1>

<a href="https://itunes.apple.com/us/podcast/lifestone-church/id968942229"><img src="{{ site.baseurl }}/assets/images/itunes.png" style="float: left; width: 100px" /></a>

<a href="{{ site.baseurl }}/feed.rss"><img src="{{ site.baseurl }}/assets/images/rss.png" style="float: left; margin-left: 10px; width: 36px;" /></a>

<div class="cl"></div>

{% assign sermons = (site.sermons | sort: 'date') | reverse %}
{% for post in sermons %}
<a class="Sermon" href="{{post.url}}">
  <div class="Sermon__Image">
    {% if post.image %}
    <img src="{{site.baseurl}}/assets/uploads/podcast/{{post.image}}" />
    {% else %}
    <img src="{{site.baseurl}}/assets/images/logo2.jpg" />
    {% endif %}
  </div>
  <div class="Sermon__Text">
    <p class="Sermon__Title">{{post.title}}</p>
    <p>{{post.date | date: "%-m/%-d/%y"}}</p>
    <p>{{post.speaker}}</p>
    <p>{{post.verse}}</p>
  </div>
</a>
{% endfor %}
