---
layout: page
title: Grade 6-12
---

<style>
img.Logo__Image {
  width: 100%;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
img.Series__Image {
  width: 100%;
  display: block;
  margin: 0 auto 20px auto;
}
@media (min-width: 767px) {
  img.Logo__Image {
    width: 50%;
  }
  img.Series__Image {
    width: 50%;
  }
}
dd {
  font-size: 18px;
  color: #008f01;
  margin: 10px 0px;
}
dt {
    margin: 10px 0;
}
</style>

<img class="Logo__Image" src="/assets/uploads/pages/students.jpg" />

<p>We exist to encourage and partner with the parents of Jr./Sr. High students to help guide kids through their spiritual journey.  Our desire is to see students empowered with the message of the gospel so that they find their identity and security in Christ alone.  We meet every Wednesday night to build up and encourage one another with a biblical message so our students can stand firm in their faith and be leaders on our campuses and in our neighborhoods and…. just because its fun!!!  On Sunday mornings the Jr. High &amp; Sr. High students attend church with their parents.</p>

{% include header.html level='2' banner=true children='We meet every Wednesday!' %}

{% for group in site.data.smallGroups.youth %}
  <p>{{ group.time }}- {{ group.people }}- {{ group.address}}</p>
{% endfor %}

{% include header.html level='2' banner=true children='Current Series' %}

<img class="Series__Image" src="/assets/uploads/pages/youth-series.jpg" />

<p>Teenagers often feel trapped. They’re stuck in the same habits, depression sets in, and they wonder about their purpose. Life might seem pointless or hopeless at best. The lie that says nothing will ever change pulls teenagers deeper into the rut.</p>

<p>But Jesus offers a way out. He reaches down to give life—a new path to follow. He has the power to free us from habits, redeem our relationships, and give us a new identity. It all begins by deciding to follow Him, because a life surrendered to Jesus is a life transformed.</p>

<p>In this 4-part series, Nick Hall, Founder and Chief Communicator for PULSE, a ministry focused on reaching the next generation for Christ, talks to students about how a relationship with Jesus changes everything—our identity, relationships, habits, and mission. Students will be challenged to allow Jesus to transform every aspect of their lives</p>

{% include events.html title="Events" category="grades-6-12" %}

{% include header.html level='2' banner=true children='Photos' %}

{% include flickr.html albumId='72157652789307104' coverImage='https://c1.staticflickr.com/5/4185/34566550455_64630617dc_z.jpg' %}

