---
layout: page
title: Grade 6-12
---

<style>
img.Logo__Image {
  width: 100%;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
img.Series__Image {
  width: 100%;
  display: block;
  margin: 0 auto 20px auto;
}
@media (min-width: 767px) {
  img.Logo__Image {
    width: 50%;
  }
  img.Series__Image {
    width: 50%;
  }
}
dd {
  font-size: 18px;
  color: #008f01;
  margin: 10px 0px;
}
dt {
    margin: 10px 0;
}
</style>

<img class="Logo__Image" src="/assets/uploads/pages/students.jpg" />

<p>We exist to encourage and partner with the parents of Jr./Sr. High students to help guide kids through their spiritual journey.  Our desire is to see students empowered with the message of the gospel so that they find their identity and security in Christ alone.  We meet every Wednesday night to build up and encourage one another with a biblical message so our students can stand firm in their faith and be leaders on our campuses and in our neighborhoods and…. just because its fun!!!  On Sunday mornings the Jr. High &amp; Sr. High students attend church with their parents.</p>

{% include header.html level='2' banner=true children='We meet every Wednesday!' %}

{% for group in site.data.smallGroups.youth %}
  <p>{{ group.time }}- {{ group.people }}- {{ group.address}}</p>
{% endfor %}

{% include header.html level='2' banner=true children='Current Series' %}

<a href="https://www.rightnowmedia.org/Content/Series/213746" target="_blank" rel="noopener"><img class="Series__Image" src="/assets/uploads/pages/youth-series.jpg" /></a>

<p>Growing up, we started friendships with a game of tag or hide-and-go-seek. But in high school, things get complicated. Cliques can feel like the real-life version of getting picked last for dodgeball—the cool kids pick each other, and the rest slump in the corner, forgotten. Even worse, social media rules the hallways. Our popularity depends on the amount of “likes” our latest picture earned, the number of retweets we get, and how many people viewed our Snapchat story. People crowd around us online and at school, but many of us still feel lonely. Depressed, even. Some of us feel so excluded that we don't see the need for friends at all.</p>

<p>It's time for a reality check: we need friends. Not just hang-out friends, but good friends who love, encourage, and challenge us.</p>

<p>In this 4-part series, pastor Dhati Lewis unpacks true biblical friendship. He teaches students how God created us to need people and challenges students to choose godly friends. You'll also watch real-life stories of other teens who struggle with the realities of friendship. This study will empower teens to build solid friendships, to show kindness to nonbelievers, and to be a good friend.</p>

{% include events.html title="Events" category="grades-6-12" %}

{% include header.html level='2' banner=true children='Photos' %}

{% include flickr.html albumId='72157652789307104' coverImage='https://c1.staticflickr.com/5/4185/34566550455_64630617dc_z.jpg' %}


<img src="/assets/uploads/pages/youth.png" />

