---
layout: page
title: Grades 1-5
---

<style>
img.Logo__Image {
  width: 50%;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
img.Series__Image {
  width: 50%;
  display: block;
  margin: 0 auto 20px auto;
}
</style>

<img class="Logo__Image" src="/assets/uploads/pages/kids-life.png" />

<p>The goal of Lifestone’s KID’S LIFE ministry is to teach kids truths of the Bible with age-appropriate, fun, interactive experiences taught by committed volunteers who serve Jesus by  serving you and your kids. Lifestone is committed not only to cementing the fundamentals of faith into the hearts and minds of children, but also equipping parents and getting families talking about Jesus together throughout their week.</p>

{% include header.html level='2' banner=true children='Current Series' %}

<img class="Series__Image" src="/assets/uploads/pages/whats-in-the-bible.jpg" />

<p>Calling all 1st-5th graders! Buck Denver and his friends are on an adventure through the whole Bible – and you’re invited to come along! Join us as we learn all about the Bible, the world’s most important book –what it is, who wrote it, and why can we trust it!</p>

{% include header.html level='2' banner=true children='What to Expect' %}

<p>When you walk in the door you’ll see signage directing you to your child’s check in. At the check in area, you will be greeted by a volunteer who will help you sign in your child. Our desire is for families to worship together, so when the worship music begins, your child’s teacher will bring children grades K-5 in to worship along side the adults before returning to the kids area for their kid-sized Bible lesson.</p>

<p>*** Our secure environments are staffed with loving volunteers who have all submitted to extensive background checks and interviews.</p>


{% include flickr.html albumId='72157651701812368' coverImage='https://c1.staticflickr.com/5/4219/34951080492_92f543647f_b.jpg' %}
