---
layout: page
title: Grade 6-12
---

<style>
dd {
  font-size: 18px;
  color: #008f01;
  margin: 10px 0px;
}
dt {
    margin: 10px 0;
}
</style>

{% include flickr.html albumId='72157652789307104' coverImage='https://c5.staticflickr.com/1/549/19007136940_9e110c4b2e_z.jpg' %}

<p>We exist to encourage and partner with the parents of Jr./Sr. High students to help guide kids through their spiritual journey.  Our desire is to see students empowered with the message of the gospel so that they find their identity and security in Christ alone.  We meet every Wednesday night to build up and encourage one another with a biblical message so our students can stand firm in their faith and be leaders on our campuses and in our neighborhoods and…. just because its fun!!!  On Sunday mornings the Jr. High &amp; Sr. High students attend church with their parents.</p>

{% include header.html level='2' banner=true children='We meet every Wednesday!' %}

{% for group in site.data.smallGroups.youth %}
  <p>{{ group.time }}- {{ group.people }}- {{ group.address}}</p>
{% endfor %}

<p>
Grab your friends and meet us next Wednesday as we continue learning who Jesus really was and is-and how this changes everything. Join in with students your age for crazy games and encouraging Bible study!
</p>

{% include events.html title="Events" category="grades-6-12" %}

{% include header.html level='2' banner=true children='Youth Leaders' %}

<p>Keely Williams - Youth Director</p>
<p>Small Group Leaders - Kelly McGee, Rebecca Harris, and Rachael Coleman</p>
