<!doctype html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700|Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lifestone Church</title>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#008F01">

	<link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.png" />

	<link rel="stylesheet" href="{{ site.baseurl }}/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" type="text/css" media="all">

	<script type='text/javascript' src='{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js'></script>
	<script type='text/javascript' src='{{ site.baseurl }}/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
</head>
<body>
	{% include facebookSDK.html %}
	<header>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/logo.png" /></a>
				</div>
				<div id="collapse" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right" role="navigation">
						<li>
							<a href="{{ site.baseurl }}/visit/">Visit</a>
						</li>
						<li class="dropdown" role="presentation">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
								About <span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="{{ site.baseurl }}/about/about-us/">About Us</a>
								</li>
								<li>
									<a href="{{ site.baseurl }}/about/leadership-team/">Leadership Team</a>
								</li>
								<li>
									<a href="{{ site.baseurl }}/about/contact-us/">Contact Us</a>
								</li>
								<li>
									<a href="{{ site.baseurl }}/about/what-we-believe">What We Believe</a>
								</li>
							</ul>
						</li>
						<li class="dropdown" role="presentation">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
								Media <span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="{{ site.baseurl }}/media/sermons/">Sermons</a>
								</li>
								<li>
									<a href="{{ site.baseurl }}/media/videos/">Videos</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="{{ site.baseurl }}/small-groups/">Small Groups</a>
						</li>
						<li class="dropdown" role="presentation">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
								Kids <span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="{{ site.baseurl }}/kids/birth-preschool/">Birth-Preschool</a>
								</li>
								<li>
									<a href="{{ site.baseurl }}/kids/grades-k-5/">Grades K-5</a>
								</li>
								<li>
									<a href="{{ site.baseurl }}/kids/grades-6-12/">Grades 6-12</a>
								</li>
							</ul>
						</li>
						<li class="dropdown" role="presentation">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
								Support <span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="{{ site.baseurl }}/support/serve/">Serve</a>
								</li>
								<li>
									<a href="{{ site.baseurl }}/support/give/">Give</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div>
		{{content}}
	</div>

	<footer>
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<h4>Sundays 10:30 am</h4>
						<p>J. L. Sorenson Recreation Center<br>
							5350 West Herriman Main Street<br>
							Herriman, UT 84096
						</p>
						<div class="google-maps">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3033.097454374926!2d-112.01745199999999!3d40.517336999999955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752852068cdcf69%3A0x27de3eb1fe60c3b2!2sJ.+L.+Sorenson+Recreation+Center!5e0!3m2!1sen!2sus!4v1407103686169" width="600" height="450" frameborder="0"></iframe>
						</div>
					</div>
					<div class="col-sm-4">
					</div>
					<div class="col-sm-4">
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<p>Copyright ©2015 <a href="https://github.com/Mountainview-WebDesign">Mountainview Web Design</a> hosted by <a href="https://github.com/Mountainview-WebDesign/lifestonechurch">Github Pages</a></p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="{{ site.baseurl }}/assets/js/audiojs/audio.min.js"></script>
	<script>
		audiojs.events.ready(function() {
			var as = audiojs.createAll();
		});
	</script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', '{{ site.google_analytics_code }}', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
