<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<title>Lifestone Church</title>
		<meta charset="UTF-8">

		<link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.png" />

		<link rel="stylesheet" id="custom-google-fonts-css" href="http://fonts.googleapis.com/css?family=Droid+Serif%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800&amp;subset=latin%2Ccyrillic-ext%2Ccyrillic%2Cgreek-ext%2Cvietnamese%2Clatin-ext&amp;ver=1.0" type="text/css" media="all">

		<link rel="stylesheet" id="responsive-css" href="{{ site.baseurl }}/assets/css/flexslider.css" type="text/css" media="all">
		<link rel="stylesheet" id="custom-stylesheet-css" href="{{ site.baseurl }}/assets/css/style.css" type="text/css" media="all">
		<link rel="stylesheet" id="responsive-css" href="{{ site.baseurl }}/assets/css/custom.css" type="text/css" media="all">
		<link rel="stylesheet" id="responsive-css" href="{{ site.baseurl }}/assets/css/responsive.css" type="text/css" media="all">

		<script type='text/javascript' src='{{ site.baseurl }}/assets/js/jquery-1.8.1.min.js'></script>
	</head>
	<body class="home page page-id-92 page-template page-template-index page-template-index-php siteorigin-panels siteorigin-panels-home">
		<section id="wrap">
			<header>
				<section class="shell">
					<h1 id="logo"><a href="{{ site.baseurl }}">Lifestone Church</a></h1>
					<nav>
						<ul id="menu-main-menu" class="menu">
							<li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13"><a href="{{ site.baseurl }}/best-news-ever/">Best News Ever</a>
							</li>
							<li id="menu-item-105" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-105"><a href="{{ site.baseurl }}/visit/">Visit</a>
							</li>
							<li id="menu-item-102" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-102 has-dd">
								<a>About<span class="icon-font">V</span></a>
								<section class="dropdown">
									<ul>
										<li id="menu-item-64" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64">
											<a href="{{ site.baseurl }}/about/about-us/">About Us</a>
										</li>
										<li id="menu-item-100" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-100"><a href="{{ site.baseurl }}/about/leadership-team/">Leadership Team</a></li>
										<li id="menu-item-68" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-68"><a href="{{ site.baseurl }}/about/contact-us/">Contact Us</a></li>
									</ul>
								</section>
							</li>
							<li id="menu-item-219" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-219 has-dd"><a>Videos <span class="icon-font">V</span></a>
								<section class="dropdown"><ul>
										<li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"><a href="{{ site.baseurl }}/videos/sermons/">Sermons</a></li>
										<li id="menu-item-218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-218"><a href="{{ site.baseurl }}/videos/more-videos/">More Videos</a></li>
									</ul>
								</section>
							</li>
							<li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61"><a href="{{ site.baseurl }}/small-groups/">Small Groups</a></li>
							<li id="menu-item-67" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-67 has-dd"><a>Kids <span class="icon-font">V</span></a>
								<section class="dropdown"><ul>
										<li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60"><a href="{{ site.baseurl }}/kids/birth-grade-5/">Birth-Grade 5</a></li>
										<li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59"><a href="{{ site.baseurl }}/kids/grades-6-12/">Grades 6-12</a></li>
									</ul>
								</section>
							</li>
							<li id="menu-item-69" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-69 has-dd"><a>Support<span class="icon-font">V</span></a>
								<section class="dropdown"><ul>
										<li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56"><a href="{{ site.baseurl }}/support/serve/">Serve</a></li>
										<li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="{{ site.baseurl }}/support/give/">Give</a></li>
									</ul>
								</section>
							</li>
						</ul>
					</nav>
				</section>
				<div id="mobile-nav">
					<ul id="menu-main-menu-1" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13"><a href="{{ site.baseurl }}/best-news-ever/">Best News Ever</a></li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-105"><a href="{{ site.baseurl }}/visit/">Visit</a></li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-102"><a>About</a>
							<section class="dropdown"><ul>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64"><a href="{{ site.baseurl }}/about/about-us/">About Us</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-100"><a href="{{ site.baseurl }}/about/leadership-team/">Leadership Team</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-68"><a href="{{ site.baseurl }}/about/contact-us/">Contact Us</a></li>
								</ul>
							</section>
						</li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-219"><a>Videos</a>
							<section class="dropdown">
								<ul>
										<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62">
											<a href="{{ site.baseurl }}/sermons/">Sermons</a>
										</li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-218">
											<a href="{{ site.baseurl }}/more-videos/">More Videos</a>
										</li>
								</ul>
							</section>
						</li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61">
							<a href="{{ site.baseurl }}/lifegroups/">Small Groups</a>
						</li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-67"><a>Kids</a>
							<section class="dropdown">
								<ul>
										<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60">
											<a href="{{ site.baseurl }}/kids/birth-grade-5/">Birth-Grade 5</a>
										</li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59">
											<a href="{{ site.baseurl }}/kids/grades-6-12/">Grades 6-12</a>
										</li>
								</ul>
							</section>
						</li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-69"><a>Support</a>
							<section class="dropdown"><ul>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56"><a href="{{ site.baseurl }}/support/serve/">Serve</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="{{ site.baseurl }}/support/give/">Give</a></li>
								</ul>
							</section>
						</li>
					</ul>
					<a class="mobile-nav-toggle">+</a>
				</div>
			</header>

			{{content}}

			<section id="footer-push"></section>
		</section>
		<footer>
			<section class="top">
				<section class="shell">
					<ul class="widgets">
						<li class="one_third">
							<div id="theme-widget-social-icons-widget-2" class="widget theme-widget-social-icons-widget">
								<section class="container">
									<div class="socials"></div>
								</section>
							</div>
						</li>
						<li class="one_third">
							<div id="theme-widget-text-widget-3" class="widget theme-widget-text-widget">
								<section class="container">
									<div class="text-widget">
										<h4>Sundays 10:30 am</h4>
										<div class="widget-body">
											<p>J. L. Sorenson Recreation Center<br>
												5350 West Herriman Main Street<br>
												Herriman, UT 84096
											</p>
										</div>
									</div>
								</section>
							</div>
						</li>
						<li class="one_third last"></li>
					</ul>
				</section>
			</section>
			<section class="bottom">
				<section class="shell">
					<p><a href="#wrap" id="back-to-top" class="right">Back to Top</a> Copyright ©2015 Mountainview Web Design</p>
				</section>
			</section>
		</footer>
		<div class="pnt-on-image-wrapper" style="display: none;">
			<div class="pnt-on-image">
				<div class="pnticn pnticn-logo pnticnlarge"></div>
				<div class="pnt-onimg-text">Point</div>
			</div>
		</div>
		<span id="buffer-extension-hover-button" style="display: none;position: absolute;z-index: 8675309;width: 100px;height: 25px;background-image: url(chrome-extension://noojglkidnpfjbincgijbaiedldjfbhh/data/shared/img/buffer-hover-icon@2x.png);background-size: 100px 25px;opacity: 0.9;cursor: pointer;"></span>
		<script type="text/javascript">
			var slider_autocycle = true;
			var slider_cycle_speed = 6000;
			var slider_animation_speed = 800;
			var customColor = '008f01';
			var in_lang = 'in';
		</script>
		<script type='text/javascript' src='{{ site.baseurl }}/assets/js/spinner.js'></script>
		<script type='text/javascript' src='{{ site.baseurl }}/assets/js/jquery.fitvids.js'></script>
		<script type='text/javascript' src='{{ site.baseurl }}/assets/js/jquery.easing.1.3.js'></script>
		<script type='text/javascript' src='{{ site.baseurl }}/assets/js/jquery.carouFredSel-5.6.2.js'></script>
		<script type='text/javascript' src='{{ site.baseurl }}/assets/js/jquery.flexslider.min.js'></script>
		<script type='text/javascript' src='{{ site.baseurl }}/assets/js/audio-player.js'></script>
		<script type='text/javascript' src='{{ site.baseurl }}/assets/js/jquery.countdown.min.js'></script>
		<script type='text/javascript' src='{{ site.baseurl }}/assets/js/fancybox/jquery.fancybox.pack.js'></script>
		<script type='text/javascript' src='{{ site.baseurl }}/assets/js/functions.js'></script>

		<script src="{{ site.baseurl }}/assets/js/audiojs/audio.min.js"></script>
		<script>
			audiojs.events.ready(function() {
				var as = audiojs.createAll();
			});
		</script>
	</body>
</html>
