---
layout: page
---

<style>
.Devotional__Metadata {
  font-size: 14px;
  font-style: italic;
  color: {{site.data.colors.GREY_60}};
  line-height: 2em;
  margin-bottom: 20px;
}
</style>

<p id="breadcrumbs">
  <a href="{{ site.baseurl }}/">Home</a> &rsaquo; Resources &rsaquo; <a href="{{ site.baseurl }}/resources/devotionals/">Devotionals</a> &rsaquo; {{page.title}}

</p>

<h1>{{page.title}}</h1>

{% include date.html postDate=page.date %}

<div class="Devotional__Metadata">
  <div>{{page.author}}</div>
  <div>{{date}}</div>
</div>

<div class="sermon-notes">
  {{ content }}
</div>
