---
layout: page
---

<style>
.BibleQuote {
  font: 14px/22px normal helvetica, sans-serif;
  margin: 20px 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
  max-width: 500px;
}
.BibleQuote__Title {
  font-style: normal;
  font-size: 1.2em;
}
.BibleQuote__Label {
  font-size: 0.8em;
  color: #797979;
  font-style: normal;
}
</style>

{% include date.html postDate=page.date %}

{% capture metadata %}
  <div>{{page.author}}</div>
  <div>{{date}}</div>
{% endcapture %}

{% include metadata.html children=metadata %}

<div>
  {{ content }}
</div>
