---
layout: default
---

<style>
.content img {
  width: 100%;
  margin-bottom: 20px;
}
.content img.image-third {
  display: inline;
  margin-right: 1%;
  width: 30%
}
@media (max-width: 501px) {
  .content img.image-third {
    margin-top: 10px;
    width: 100%
  }
}
.Page__Sidebar {
  margin-top: 45px;
}
@media (max-width: 1199px) {
  .Page__Sidebar {
    display: none;
  }
}
</style>

<div class="container">
  <div class="row">
    <div class="content col-lg-9 col-md-12">
      {{content}}
    </div>
    <div class="Page__Sidebar">
      {% include sidebar.html %}
    </div>
  </div>
</div>
