---
layout: page
title: Devotionals
---

<style>
.Devotionals__Title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: {{site.data.colors.GREEN}};
}
.Devotionals__ReadMore {
  color: {{site.data.colors.GREEN}};
}
</style>

{% assign devotionals = (site.devotionals | sort: 'date') | reverse %}
{% for post in devotionals %}

{% include date.html postDate=post.date %}

{% capture metadata %}
  <span>{{date}}</span> - <span>{{post.author}}</span>
{% endcapture %}

{% capture cardContent %}
<div>
  <div class="Devotionals__Title">
    {% include header.html level='3' children=post.title %}
  </div>
  {% include metadata.html children=metadata %}
  <p>{{ post.excerpt | strip_html }}</p>
  <div class="Devotionals__ReadMore">Read more</div>
</div>
{% endcapture %}
{% include card.html url=post.url children=cardContent %}

{% endfor %}
