---
layout: page
title: Devotionals
---

<style>
.Devotionals__Header {
  margin-top: 0px;
  margin-bottom: 0px;
}
</style>

{% assign devotionals = (site.devotionals | sort: 'date') | reverse %}
{% for post in devotionals %}

{% include date.html postDate=post.date %}

{% capture metadata %}
  <span>{{date}}</span> - <span>{{post.author}}</span>
{% endcapture %}

{% capture cardContent %}
<div>
  <h3 class="Devotionals__Header">{{post.title}}</h3>
  {% include metadata.html children=metadata %}
  <p>{{ post.excerpt | strip_html }}</p>
  <div>Read more</div>
</div>
{% endcapture %}
{% include card.html url=post.url children=cardContent %}

{% endfor %}
