---
layout: page
---

<style>
.Sermons__Item {
  display: flex;
  justify-content: space-between;
}
.Sermons__Image img {
  width: 100px;
}
.Sermons__Text {
  flex-grow: 1;
  margin-left: 20px;
}
.Sermons__Text p {
  margin: 0;
  padding: 0;
}
.Sermons__Title {
  font-size: 1.5em;
  color: {{site.data.colors.GREEN}};
}
</style>

<p id="breadcrumbs">
  <a href="{{ site.baseurl }}/">Home</a> &rsaquo; Resources &rsaquo; Sermons
</p>

<h1>Sermons</h1>

<div>
  <a href="https://itunes.apple.com/us/podcast/lifestone-church/id968942229"><img src="{{ site.baseurl }}/assets/images/itunes.png" style="width: 100px" /></a>
  <a href="{{ site.baseurl }}/feed.rss"><img src="{{ site.baseurl }}/assets/images/rss.png" style="margin-left: 10px; width: 36px;" /></a>
</div>

{% assign sermons = (site.sermons | sort: 'date') | reverse %}
{% for post in sermons %}


{% capture cardContent %}
<div class="Sermons__Item">
  <div class="Sermons__Image">
    {% if post.image %}
    <img src="{{site.baseurl}}/assets/uploads/podcast/{{post.image}}" />
    {% else %}
    <img src="{{site.baseurl}}/assets/images/logo2.jpg" />
    {% endif %}
  </div>
  <div class="Sermons__Text">
    <p class="Sermons__Title">{{post.title}}</p>
    <p>{{post.date | date: "%-m/%-d/%y"}}</p>
    <p>{{post.speaker}}</p>
    <p>{{post.verse}}</p>
  </div>
</div>
{% endcapture %}

{% include card.html url=post.url children=cardContent %}

{% endfor %}
